# make .git* files visible to git
!.gitignore
!.gitattributes

#vim stuff
*.swp

.sconsign.dblite
.syntastic_cpp_config

build/
package/*.deb
*.back

.idea/

*.out
*.log

tags
src/.vs
test

*.cmake
*CMakeFiles
*CMakeCache
Makefile
1
build/
*build/
./*/build/
./chapter_eight/build/
